.ji-n-se-i {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.ji-n-se-i__history {
  order: 1;
  width: 30%;
  /* 今からの人生が死ぬまで常に上に向いて自由になります */
  margin-top: 1rem;
  text-decoration: none;
}
.ji-n-se-i__history--empty {
  border: none !important;
  box-shadow: none !important;
  height: 0;
}
.ji-n-se-i__history--profile {
  order: 0;
}

.ji-n-se-i__history-link {
  text-decoration: none;
}

.ji-n-se-i__history-link:visited {
  color: inherit;
}
